<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="agl-service-bluetooth" version="1.0">
  <name>agl-service-bluetooth</name>
  <icon src="icon.svg"/>
  <content src="config.xml" type="application/vnd.agl.service"/>
  <description>Bluetooth binding service</description>
  <author>Tasuku Suzuki &lt;tasuku.suzuki@qt.io&gt;</author>
  <license>APL2.0</license>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:hidden" value="required" />
    <param name="urn:AGL:permission::system:run-by-default" value="required" />
    <param name="http://tizen.org/privilege/internal/dbus" value="required" />
  </feature>
  <feature name="urn:AGL:widget:provided-api">
     <param name="Bluetooth-Manager" value="ws" />
  </feature>
  <feature name="urn:AGL:widget:required-api">
     <param name="lib/libagl-bluetooth-binding.so" value="local" />
  </feature>
</widget>
